src/main/app/hot-water-display.xml
<mule xmlns:servlet="http://www.mulesoft.org/schema/mule/servlet" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/servlet http://www.mulesoft.org/schema/mule/servlet/current/mule-servlet.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="hot-water-displayFlow1" doc:name="hot-water-displayFlow1">
        <composite-source doc:name="Composite Source">
            <servlet:inbound-endpoint path="/hot-water-display" responseTimeout="10000" doc:name="Servlet"/>
            <vm:inbound-endpoint exchange-pattern="request-response" path="hot-water-display" doc:name="VM"/>
        </composite-source>
        <db:select config-ref="HSqlDbConnector" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT TOP 5 * FROM HOTWATER ORDER BY TIMESTAMP(DATE, TIME) DESC]]></db:parameterized-query>
        </db:select>
        <logger level="INFO" message="Hot Water Display Query Response: #[payload]" />
        <component doc:name="Java">
            <singleton-object class="uk.co.vsf.aggregator.component.HotWaterDisplayComponent">
                <property key="maxTimeSinceLastReadingMinutes" value="${maxTimeSinceLastReadingMinutes}"/>
            </singleton-object>
        </component>
        <http:response-builder status="200" contentType="text/plain" doc:name="HTTP Response Builder">
            <http:cache-control noCache="true" noStore="true" mustRevalidate="true"/>
        </http:response-builder>
    </flow>
</mule>
